[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third-party/VulkanMemoryAllocator"]
	path = third-party/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third-party/fastgltf"]
	path = third-party/fastgltf
	url = git@github.com:spnda/fastgltf.git
[submodule "third-party/tinygltf"]
	path = third-party/tinygltf
	url = git@github.com:syoyo/tinygltf.git
